.imgSize{
    height: 200px;
    
}
.flexi{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #EDF2F6;
   
    /* background-image: url('../../img/travel.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.c-e{
    margin-left: 190px;
}
.ds{
    height: 50px;
}
.displ{
    align-items: center;
    justify-content: center;
    /* margin-top: -60px;
    margin-bottom: -60px; */
}
.ghj{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.bg{
    background-color: #800080;
}
.nh{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}

@media only screen and (max-width:688px){
    .ghj{
       display: flex;
        /* grid-template-rows: repeat(6,1fr);
        align-items: center; */
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        margin-right: 40px;
    }
    /* .flexi{
        display: flex; */
        /* grid-template-columns:repeat(1,1fr); */
        /* background-image: url(https://images.pexels.com/photos/699466/pexels-photo-699466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center top;
            background-size: 100% auto;
            background-repeat: no-repeat; */
        
    /* } */
    /* .colorr{
        color:white;
        font-weight: bold;
        
    } */
    
}