
.homeColor{
    background-color: #EDF2F6;
}
.klSize{
    height: 400px;
    border-radius: 20px;
    border: 5px solid aqua ;
    
}
.secondHome{
    display: flex;  
}
.text{
    text-align: left;
    margin-left: 10px;
}
.dataDes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}
.theDes{
    border: 2px solid sandybrown;
    border-radius: 20px;
}
.hj{
    border-radius: 20px;
}
.there{
    border-bottom: 2px solid goldenrod;
}
.theGridi{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    margin-bottom: 5px;
}
.theDesigni{
    border: 2px solid white;
    box-shadow: 3px 3px 3px 3px gray;
}
.tourSize{
    height: 200px;
    width: 314px;
}
.Explor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.ExplotImg{
    height: 450px;
    width: 730px;
}
.gaffa{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}
.google{
    margin-top: 70px;
}
.hiro{
    border-bottom: 2px solid goldenrod;
}
.dataDesi{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.kam{
    height: 750px;
}
.caro{
    background-image: url('../../img/bg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width:688px){
    .dataDes{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
    }
    .theGridi{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
        margin-bottom: 5px;
    }
    .Explor{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .gaffa{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
    }
    .dataDesi{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
    }
    .kam{
        height: 100%;
    }
    
    .ExplotImg{
        height: 250px;
        width: 450px;
    }
    .samo{
        width: 300px;
    }
    .secondHome{
        display: grid; 
        grid-template-columns: repeat(1,1fr);
        grid-gap: 4px; 
    }
    .klSize{
        height: 300px;
        border-radius: 20px;
        border: 5px solid aqua ;
        
    }
}
